<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secure Shop - Inscription</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="topbar"></div>

    <main>
      <section class="hero">
        <div class="container">
          <h1>Inscription</h1>

          <form action="/api/auth/register" method="POST">
            <label for="username"><b>Username</b></label>
            <input
              type="text"
              placeholder="Enter Username"
              name="username"
              required
            />

            <label for="email"><b>Email</b></label>
            <input
              type="email"
              placeholder="Enter Email"
              name="email"
              required
            />

            <label for="password"><b>Password</b></label>
            <input
              type="password"
              placeholder="Enter Password"
              name="password"
              required
            />

            <label for="address"><b>Address</b></label>
            <input
              type="text"
              placeholder="Enter your Address"
              name="address"
              required
            />
            <button type="submit">Sign up</button>
          </form>
        </div>
      </section>
    </main>

    <footer id="contact" class="footer">
      <div class="container">
        <p>Projet pedagogique - ETML 183</p>
      </div>
    </footer>

    <script src="/js/nav.js"></script>
  </body>
</html>
